h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    color: rgb(57, 57, 57);
}

.masthead-subtitle, .masthead-title a {
    color: rgb(57, 57, 57);
}

.footer a {
    color: rgb(57, 57, 57);
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #B86E53;
    color: rgb(57, 57, 57);
}

.masthead {
    padding-bottom: 0rem;
}